.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'BlinkMacSystemFont', 'Segoe UI', 'Helvetica', 'Arial', sans-serif;
}

.container {
  display: flex;
  width: 120px;
  height: 30px;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  border: 1px solid rgba(27, 31, 35, 0.2);
  border-radius: 3px;
}

.forkButton {
  flex-grow: 1;
  padding: 1px;
  background: url('/fork.png');
}

.counter {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.counterText {
  margin: 0;
}

